extends ../layout

block content
	// main container
	.content
		.container-fluid
			#pad-wrapper.users-list
				.row-fluid.header
					h3 公司状态
					.span6.pull-right
						form#queryOtherPersonHoliday(action="/queryOtherPersonHoliday", method="post")
							// - action="/queryOtherPersonHoliday" method="post"
							input.span8.search(type='text', placeholder="Type a user's name...", name='otherPersonName')
							// custom popup filter
							// styles are located in css/elements.css
							// script that enables this dropdown is located in js/theme.js
							a.btn-flat.success.pull-right(type='button', onclick="queryOtherPersonHoliday('#queryOtherPersonHoliday')")
								span +
								| 	                            Search
				// Users table
				.row-fluid.table
					table.table.table-hover.span6
							thead
								tr
									th.span8.sortable
										| 姓名
									th.span4.sortable
										span.line
										| 状态
							tbody
								each user in usersInHoliday
									// row
									tr.first
										td
											img.img-circle.avatar.hidden-phone(src='/img/contact-img.png')
											span.subtext Graphic Design &nbsp #{user.userDepartment}
											//- 取不到不在 schema 中的数据
											| &nbsp &nbsp
											a.name(href='user-profile.html') #{user.userName}
										td
											| 假期中
					table.table.table-hover.span6
						thead
							tr
								th.span8.sortable
									| 姓名
								th.span4.sortable
									span.line
									| 状态
						tbody
							each user in  usersAlreadyApprovedButNotStart
								// row
								tr.first
									td
										img.img-circle.avatar.hidden-phone(src='/img/contact-img.png')
										span.subtext Graphic Design &nbsp #{user.userDepartment}
										| &nbsp &nbsp
										a.name(href='user-profile.html') #{user.userName}
									td
										|  即将离开
				.row-fluid.table
					table.table.table-hover.span6
						thead
							tr
								th.span8.sortable
									| 姓名
								th.span4.sortable
									span.line
									| 状态
						tbody
							each user in usersAtWwork
								// row
								tr.first
									td
										img.img-circle.avatar.hidden-phone(src='/img/contact-img.png')
										span.subtext Graphic Design &nbsp #{user.userDepartment}
										| &nbsp &nbsp
										a.name(href='user-profile.html') #{user.userName}
									td
										|  正常上班
							
				// end users table
	// end main container
	// scripts
	script(src='http://code.jquery.com/jquery-latest.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/jquery-ui-1.10.2.custom.min.js')
	// knob
	script(src='/js/jquery.knob.js')
	// flot charts
	script(src='/js/jquery.flot.js')
	script(src='/js/jquery.flot.stack.js')
	script(src='/js/jquery.flot.resize.js')
	script(src='/js/theme.js')
	script(type='text/javascript').
		$(function() {
			$('.arr_index').addClass("active");
			$('.arr_index').append("<div class='pointer'><div class='arrow'></div><div class='arrow_border'></div></div>");
		});
		
		function queryOtherPersonHoliday(formName){
			var frm = $(formName);
			console.log('data:', JSON.stringify(frm.serialize()));
			frm.submit();
		}

	//- div(style='display:none')
	//- 	script(src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540', language='JavaScript', charset='gb2312')
