extends ../layout

block content
	.content
		.container-fluid
			#pad-wrapper.users-list
				.row-fluid.header
					h3 #{user.userName} 的过往假期
				// Users table
				.row-fluid.table
					table.table.table-hover
						thead
							tr
								th.span1.sortable
									| 编号
								th.span2.sortable
									| 请假类型	
								th.span2.sortable
									| 假期开始日期
								th.span2.sortable
									span.line
									| 持续时长(天)
								th.span2.sortable
									span.line
									| 假期状态
								th.span3.sortable.align-right
									span.line
									| 详情
						tbody
							- var lineNum = 0
							if notes && notes.length > 0
								each item in notes
									tr(class="item-id-#{item._id}")
										td #{++lineNum}
										td #{item.holidayType.holidayName}
										td #{item.start}
										td #{item.timeLength}
										if(item.curState > -3)
											td 
												span.label.label-info 未注销
										else 
											td
												span.label.label-success 已注销
										td.align-right
											a(target="_blank",href="/note/noteInfo/#{item._id}") 点击查看详情
				.pagination.pull-right
					ul
						li
							a &#8249;
						- for(var i = 0; i < totalPage; i++){
							- if(currentPage == (i+1)){
									li.active
										a #{currentPage}
							- }else{
									li
										a(href='/note/reqAllState?p=#{i}') #{i+1}
							- }
						- }
						li
							a &#8250;		
		// end users table
	// end main container
	// scripts
	script(src='http://code.jquery.com/jquery-latest.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/theme.js')
	script(type='text/javascript').
		$(function () {
			$('.arr_holiday').addClass("active");
			$('.arr_holiday').append("<div class='pointer'><div class='arrow'></div><div class='arrow_border'></div></div>");
			$('#sub').addClass("active");
			$('#reqa').addClass("active");
		});
