extends ../layout

block content

	.content
		.container-fluid
			#pad-wrapper.form-page
				.row-fluid.form-wrapper
					.span8.column
						form(method="POST", action='/note/new', name="noteNew")
							input.span2(type='hidden', value='#{user._id}', name="note[user]")
							.field-box
								label 申请人:
								input.span8(type='text', readonly='readonly', value='#{user.userName}', name='userName')
							.field-box
								label 职    位:
								input.span8(type='text', readonly='readonly', value='#{role.roleName}', name='roleName')
							.field-box
								label 请假类别:
								select.select2(style='width:250px',name='note[holidayType]', id="holidayType")
									option(value='-01')
										| 请选择假期类型
									each item in holidayTypes
										option(value='#{item._id}')
											| #{item.holidayName}
							.field-box
								label 开始时间:
								input#date.input-large.datepicker(type='text', name="note[startTime]")
							.field-box
								label 请假时长（天）:
								input.span4.inline-input(type='text', name='note[timeLength]', id="timeLength")
							.field-box
								label 申请理由:
								textarea.span8(rows='4', name='note[reason]', id="reason")
							.field-box
								button#btbt.btn.btn-success(type="button") 提交
								//a的href='/user/signin'
					// right column
					.span4.column.pull-right
						form
							h3 您当前剩余各类假期天数
							br
							each item in holidays
								.field-box
									label #{item.name} &nbsp:
									input.span6.inline-input(type='text', readonly='readonly', value='#{item.length}天')
	// end main container
	// scripts for this page
	script(src='/js/wysihtml5-0.3.0.js')
	script(src='http://code.jquery.com/jquery-latest.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/bootstrap-wysihtml5-0.0.2.js')
	script(src='/js/bootstrap.datepicker.js')
	script(src='/js/jquery.uniform.min.js')
	script(src='/js/select2.min.js')
	script(src='/js/theme.js')
	// call this page plugins
	script(type='text/javascript').
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth() + 1;
		var y = date.getFullYear();
		$(function () {
			// select2 plugin for select elements
			$('.arr_holiday').addClass("active");
			$('.arr_holiday').append("<div class='pointer'><div class='arrow'></div><div class='arrow_border'></div></div>");
			$(".select2").select2({
				placeholder: "Select a State"
			});
			// datepicker plugin
			$('.datepicker').datepicker().on('changeDate', function (ev) {
				$(this).datepicker('hide');
			});
			//当前日期
			$('#date').val(m+'/'+d+'/'+y);
			$('#btbt').click(function(){
				//alert("请选择假期类型");
				if($('#holidayType').val() === '-01'){
					alert("请选择假期类型");
					}
				else if(!(/^(\+|-)?\d+$/.test($('#timeLength').val()))){
					alert("请假时长要求必须为数字");
					}
				else if($('#reason').val().length <= 0){
					alert("请填写请假理由");
					}
				else{
					document.noteNew.submit();
				}
			});});
