extends ../layout

block content
	// main container
	.content
		.container-fluid
			#pad-wrapper
				//
					<div class="row-fluid head">
					<div class="span12">
					<h4>Form wizard</h4>
					</div>
					</div>
				.row-fluid
					.span12
						#fuelux-wizard.wizard.row-fluid
							ul.wizard-steps
								li.active(data-target='#step1')
									span.step 1
									span.title 已发出申请
								li(data-target='#step2')
									span.step 2
									span.title
										| 部门经理 
										br
										|  已审批
								li(data-target='#step3')
									span.step 3
									span.title
										| 副总经理 
										br
										|  已审批
								li(data-target='#step4')
									span.step 4
									span.title
										| 总经理 
										br
										|  已审批
						.step-content
							#step1.step-pane
								.row-fluid.form-wrapper
									.span8
										form
											.field-box
												label 申请人:
												input.span8.inline-input(type='text', readonly='readonly', value=user.userName)
											.field-box
												label 职    位:
												input.span8.inline-input(type='text', readonly='readonly', value=role.roleName)
											.field-box
												label 状    态:
												input.span8.inline-input(type='text', readonly='readonly', value='您的假期申请已发送哦(๑•ᴗ•๑)')
							#step2.step-pane
								.row-fluid.form-wrapper
									.span8
										form
											.field-box
												label 申请人:
												input.span8.inline-input(type='text', readonly='readonly', value=user.userName)
											.field-box
												label 职    位:
												input.span8.inline-input(type='text', readonly='readonly', value=role.roleName)
											.field-box
												label 状    态:
												input.span8.inline-input(type='text', readonly='readonly', value='您的假期申请已被部门经理审批哦(๑•ᴗ•๑)')
							#step3.step-pane
								.row-fluid.form-wrapper
									.span8
										form
											.field-box
												label 申请人:
												input.span8.inline-input(type='text', readonly='readonly', value=user.userName)
											.field-box
												label 职    位:
												input.span8.inline-input(type='text', readonly='readonly', value=role.roleName)
											.field-box
												label 状    态:
												input.span8.inline-input(type='text', readonly='readonly', value='您的假期申请已被副总经理审批哦(๑•ᴗ•๑)')
							#step4.step-pane
								.row-fluid.form-wrapper.payment-info
									.span8
										form
											.field-box
												label 申请人:
												input.span8.inline-input(type='text', readonly='readonly', value=user.userName)
											.field-box
												label 职    位:
												input.span8.inline-input(type='text', readonly='readonly', value=role.roleName)
											.field-box
												label 状    态:
												input.span8.inline-input(type='text', readonly='readonly', value='您的假期申请已被总经理审批哦(๑•ᴗ•๑)')
						.wizard-actions
							button.btn-glow.primary.btn-prev(type='button', disabled='')
								| 撤销申请
							button.btn-glow.primary.btn-next(type='button', disabled='')
								| 结束假期
	// end main container
	// scripts for this page
	script(src='http://code.jquery.com/jquery-latest.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/theme.js')
	script(src='/js/fuelux.wizard.js')
	script(type='text/javascript').
		var stat = 4;
		var pathname = window.location.pathname;
		$(function () {
			//- var j = this.$element.find("li");
			//- j.removeClass("active");
			switch(stat){
				case 1:
					$('.wizard-steps li:eq(0)').addClass("active");
					$('#step1').addClass("active");
					$('.btn-prev').removeAttr("disabled");
					break;
				case 2:
					$('.wizard-steps li:eq(0)').addClass("active");
					$('.wizard-steps li:eq(1)').addClass("active");
					$('#step2').addClass("active");
					$('.btn-prev').removeAttr("disabled");
					break;
				case 3:
					$('.wizard-steps li:eq(0)').addClass("active");
					$('.wizard-steps li:eq(1)').addClass("active");
					$('.wizard-steps li:eq(2)').addClass("active");
					$('#step3').addClass("active");
					$('.btn-prev').removeAttr("disabled");
					break;
				case 4:
					$('.wizard-steps li:eq(0)').addClass("active");
					$('.wizard-steps li:eq(1)').addClass("active");
					$('.wizard-steps li:eq(2)').addClass("active");
					$('.wizard-steps li:eq(3)').addClass("active");
					$('#step4').addClass("active");
					$('.btn-next').removeAttr("disabled");
					break;
				default:
					break;
			};
			$('.arr_holiday').addClass("active");
			$('.arr_holiday').append("<div class='pointer'><div class='arrow'></div><div class='arrow_border'></div></div>");

		});
